<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Bienvenidos a SmartBus</h1>
          <p class="lead"><a href="./../users/new-user/new-user.component.html"> Regístrate ahora </a></p>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">¿Qué es SmartBus?</h2>
      <p>SmartBus es una plataforma digital para la venta de tickets de autobús mediante tarjetas eléctronicas y 
        dispositivos compatibles con NFC. Se busca crear una mejor atención a los usuarios por parte de los servicios
        de transporte público por medio de algoritmos de agrupación para conocer mejor a los usuarios y brindar un 
        servicio más personalizado para todos.
      </p>
    </div>
  </section>